<div class="board-inner" style="background-color: whitesmoke">
  <ul class="nav nav-tabs" id="myTab">
    <li class="active">
      <a routerLink="../accueil" data-toggle="tab" title="Accueil">
                      <span class="round-tabs one">
                              <i class="glyphicon glyphicon-home"></i>
                      </span>
      </a></li>

    <li><a routerLink="../profile" data-toggle="tab" title="Mon Profile">
                     <span class="round-tabs two">
                         <i class="glyphicon glyphicon-user"></i>
                     </span>
    </a>
    </li>
    <li><a routerLink="../mon-dossier"  data-toggle="tab"  title="Mon Dossier">
                     <span class="round-tabs three">
                          <i class="glyphicon glyphicon-folder-open"></i>
                     </span> </a>
    </li>

    <li><a href="#settings" data-toggle="tab" title="Ma Messages">
                         <span class="round-tabs four">
                              <i class="glyphicon glyphicon-comment"></i>
                         </span>
    </a></li>

    <li><a href="#doner" data-toggle="tab" title="Appel en cours">
                         <span class="round-tabs five">
                              <i class="glyphicon glyphicon-search"></i>
                         </span> </a>
    </li>

  </ul></div><br>
<div class="col-md-12">
  <div class="col-md-4 pull-right">
      <button  href="#" class="btn btn-danger">
        <span class="glyphicon glyphicon-log-out"></span> Déconnexion
      </button>
  </div>
</div>
<br><br>
