<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<section class="login-block">
  <div class="container">
    <div class="row">
      <div class="col-md-4 login-sec">
        <h2 class="text-center">Se connecter maintenant </h2>
        <form class="login-form" [formGroup]="formLog">
          <div class="form-group">
            <label for="exampleInputEmail1" class="text-uppercase">Email</label>
            <input type="text" class="form-control" placeholder="" id="exampleInputEmail1"
                   [(ngModel)]="candidat.email" formControlName="email">

          </div>
          <div class="form-group">
            <label for="exampleInputPassword1" class="text-uppercase">Mot de passe </label>
            <input type="password" class="form-control" placeholder="" id="exampleInputPassword1"
                   [(ngModel)]="candidat.motDePasse" formControlName="password">
          </div>


          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input">
              <small>Se souvenir de moi </small>
            </label>
            <button type="submit" class="btn btn-login float-right" [disabled]="formLog.invalid" (click)="onValider()">
              Valider </button>
          </div>
        </form>
        <div *ngIf="messError" class="alert-danger col-md-4">{{messError}}</div>
        <div *ngIf="mess" class="alert-success col-md-4">{{mess}}</div>
        <div class="copy-text">Vous ne disposez pas encore de compte? <a routerLink="/inscription">Par ici pour vous inscrire!</a></div>
      </div>
      <div class="col-md-8 banner-sec">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
              <img class="d-block img-fluid" src="../../assets/img/pexels-photo.jpg" alt="First slide">
              <!--<div class="carousel-caption d-none d-md-block">
                <div class="banner-text">
                  <h2>This is Heaven</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
                </div>
              </div>-->
            </div>
            <!--<div class="carousel-item">
              <img class="d-block img-fluid" src="../../assets/img/people-coffee-tea-meeting.jpg" alt="First slide">
              <div class="carousel-caption d-none d-md-block">
                <div class="banner-text">
                  <h2>This is Heaven</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
                </div>
              </div>--
            </div>
            <div class="carousel-item">
              <img class="d-block img-fluid" src="../../assets/img/pexels-photo-872957.jpeg" alt="First slide">
              <div class="carousel-caption d-none d-md-block">
                <div class="banner-text">
                  <h2>This is Heaven</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
                </div>
              </div>
            </div>-->
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
