<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center"><!--
  <ul class="nav navbar-nav">
    <li routerLinkActive="active"><a routerLink="login">Se connecter</a></li>
    <li routerLinkActive="active"><a routerLink="inscription">S'inscrire</a></li>
  </ul>-->
<router-outlet></router-outlet>
</div>
