<link rel="stylesheet" type="text/css" href="../../assets/styles/education.css">
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<div id="page">
  <app-header></app-header>



  <aside id="colorlib-hero">
    <div class="flexslider" style="height: 100px" >

    </div>
  </aside>

  <div id="colorlib-intro">
    <div class="container">
      <div class="row">
        <div class="col-md-12 tabulation animate-box" >
          <ul class="nav nav-tabs" style="background-color: #00c2ff">
            <li class="active"><a data-toggle="tab" href="#plan"><i class="icon-books"></i> Ma formation académique</a></li>
            <li><a data-toggle="tab" href="#general"><i class="icon-profile"></i> Parcours professionnel</a><br></li>
            <li><a data-toggle="tab" href="#manage"><i class="icon-download3"></i> Mes pièces-jointes</a></li>
            <li><a data-toggle="tab" href="#modeling"><i class="icon-file-pdf"></i> Résumé de mon dossier</a></li>
         <br><br> </ul>
          <div class="tab-content">




            <div id="plan" class="tab-pane fade in active" style="background-color: whitesmoke">
            <div class="row">
              <h2 style="color: darkblue"><strong>Formation Académique...<i class="icon-study"></i></strong></h2>
            <br>
            </div>

              <div class="row">
                <div class="col-md-1">
                 <h3> 1. <i class="icon-leaf"></i></h3>
                </div>
                <div class="col-md-3">
                  <h3 style="color: darkblue"><strong><i class="icon-calendar2"> : </i>2000-2002</strong></h3>
                </div>
                <div class="col-md-6">
                  <h3><strong>Université de Thiès</strong></h3>
                  <h4 style="color: #7a7a7a"><strong>Diplôme Ingénieur de Conception</strong></h4>
                </div>
                <div class="col-md-2">
                  <h4><span class="icon-trash2 btn" style="background-color: #d58512 "></span></h4>
                </div><br>
              </div>

              <div class="row">
                <div class="col-md-1">
                  <h3> 2. <i class="icon-leaf"></i></h3>
                </div>
                <div class="col-md-3">
                  <h3 style="color: darkblue"><strong><i class="icon-calendar2"> : </i>2000-2002</strong></h3>
                </div>
                <div class="col-md-6">
                  <h3><strong>Université de Thiès</strong></h3>
                  <h4 style="color: #7a7a7a"><strong>Diplôme Ingénieur de Conception</strong></h4>
                </div>
                <div class="col-md-2">
                  <h4><span class="icon-trash2 btn" style="background-color: #d58512 "></span></h4>
                </div><br>
              </div>

              <div class="row">
                <div class="col-md-1">
                  <h3>3.  <i class="icon-leaf"></i></h3>
                </div>
                <div class="col-md-3">
                  <h3 style="color: darkblue"><strong><i class="icon-calendar2"> : </i>2000-2002</strong></h3>
                </div>
                <div class="col-md-6">
                  <h3><strong>Université de Thiès</strong></h3>
                  <h4 style="color: #7a7a7a"><strong>Diplôme Ingénieur de Conception</strong></h4>
                </div>
                <div class="col-md-2">
                  <h4><span class="icon-trash2 btn" style="background-color: #d58512 "></span></h4>
                </div><br>
              </div>

              <div class="row">
                <div class="col-md-1">
                  <h3> 4. <i class="icon-leaf"></i></h3>
                </div>
                <div class="col-md-3">
                  <h3 style="color: darkblue"><strong><i class="icon-calendar2"> : </i>2000-2002</strong></h3>
                </div>
                <div class="col-md-6">
                  <h3><strong>Université de Thiès</strong></h3>
                  <h4 style="color: #7a7a7a"><strong>Diplôme Ingénieur de Conception</strong></h4>
                </div>
                <div class="col-md-2">
                  <h4><span class="icon-trash2 btn" style="background-color: #d58512 "></span></h4>
                </div><br>
              </div>

              <div class="row">
                <div class="col-md-1">
                  <h3>5.  <i class="icon-leaf"></i></h3>
                </div>
                <div class="col-md-3">
                  <h3 style="color: darkblue"><strong><i class="icon-calendar2"> : </i>2000-2002</strong></h3>
                </div>
                <div class="col-md-6">
                  <h3><strong>Université de Thiès</strong></h3>
                  <h4 style="color: #7a7a7a"><strong>Diplôme Ingénieur de Conception</strong></h4>
                </div>
                <div class="col-md-2">
                  <h4><span class="icon-trash2 btn" style="background-color: #d58512 "></span></h4>
                </div><br>
              </div>

            </div>




<div class="tab-pane fade" id="general" style="background-color: whitesmoke">


  <div class="row">
    <h2 style="color: darkblue"><strong>Expérience Pro... <i class="icon-laptop2"></i></strong></h2>
    <br>
  </div>

  <div class="row">
    <div class="col-md-1">
      <h3> 1. <i class="icon-leaf"></i></h3>
    </div>
    <div class="col-md-3">
      <h3 style="color: darkblue"><strong><i class="icon-calendar2"> : </i>2000-2002</strong></h3>
    </div>
    <div class="col-md-6">
      <h3><strong>Chef de Projet</strong></h3>
      <h4 style="color: #7a7a7a"><strong>ADNCorp</strong></h4>
    </div>
    <div class="col-md-2">
      <h4><span class="icon-trash2 btn" style="background-color: #d58512 "></span></h4>
    </div><br>
  </div>

  <div class="row">
    <div class="col-md-1">
      <h3> 2. <i class="icon-leaf"></i></h3>
    </div>
    <div class="col-md-3">
      <h3 style="color: darkblue"><strong><i class="icon-calendar2"> : </i>2000-2002</strong></h3>
    </div>
    <div class="col-md-6">
      <h3><strong>Développeur</strong></h3>
      <h4 style="color: #7a7a7a"><strong>ISEP, Diamniadio</strong></h4>
    </div>
    <div class="col-md-2">
      <h4><span class="icon-trash2 btn" style="background-color: #d58512 "></span></h4>
    </div><br>
  </div>

  <div class="row">
    <div class="col-md-1">
      <h3>3.  <i class="icon-leaf"></i></h3>
    </div>
    <div class="col-md-3">
      <h3 style="color: darkblue"><strong><i class="icon-calendar2"> : </i>2000-2002</strong></h3>
    </div>
    <div class="col-md-6">
      <h3><strong>Chef de Projet</strong></h3>
      <h4 style="color: #7a7a7a"><strong>ISEP, Diamniadio</strong></h4>
    </div>
    <div class="col-md-2">
      <h4><span class="icon-trash2 btn" style="background-color: #d58512 "></span></h4>
    </div><br>
  </div>

  <div class="row">
    <div class="col-md-1">
      <h3> 4. <i class="icon-leaf"></i></h3>
    </div>
    <div class="col-md-3">
      <h3 style="color: darkblue"><strong><i class="icon-calendar2"> : </i>2000-2002</strong></h3>
    </div>
    <div class="col-md-6">
      <h3><strong>Ingénieur de Conception</strong></h3>
      <h4 style="color: #7a7a7a"><strong>Diplôme Ingénieur de Conception</strong></h4>
    </div>
    <div class="col-md-2">
      <h4><span class="icon-trash2 btn" style="background-color: #d58512 "></span></h4>
    </div><br>
  </div>

  <div class="row">
    <div class="col-md-1">
      <h3>5.  <i class="icon-leaf"></i></h3>
    </div>
    <div class="col-md-3">
      <h3 style="color: darkblue"><strong><i class="icon-calendar2"> : </i>2000-2002</strong></h3>
    </div>
    <div class="col-md-6">
      <h3><strong>Université de Thiès</strong></h3>
      <h4 style="color: #7a7a7a"><strong>Diplôme Ingénieur de Conception</strong></h4>
    </div>
    <div class="col-md-2">
      <h4><span class="icon-trash2 btn" style="background-color: #d58512 "></span></h4>
    </div><br>
  </div>
</div>











            <div id="manage" class="tab-pane fade" style="background-color: whitesmoke">
              <div class="row">
                  <h2>Mes Pièces-Jointes</h2>
                <div class="upload-box" style="width: 90%; margin-left: auto; padding-bottom: 30px">
                  <div class="hold" style="width: 50%; margin-left: 20px"><a href="#">Maximum file size 20 MB</a> <span class="btn-file icon-file-add"> Nouvelle PJ
                    <input type="file">
                          </span>
                  </div>
                  <button style="margin-left: 20px" class="btn-file" >Valider</button>
                </div>
                  <table class="table" style="width: 90%; margin: auto">
                    <thead>
                    <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>

                    </thead>
                    <tbody>
                    <tr>
                      <td><i class="icon-file-pdf"></i></td>
                      <td>Defaultson</td>
                      <td>20 MB</td>
                      <td><button href="#">
                        <span class="icon-trash2" aria-hidden="trbe"></span>
                      </button></td>
                    </tr>
                    <tr class="success">
                      <td><i class="icon-file-word"></i></td>
                      <td>Doe</td>
                      <td>20 MB</td>
                      <td><button href="#">
                        <span class="icon-trash2" aria-hidden="trbe"></span>
                      </button></td>
                    </tr>
                    <tr>
                      <td><i class="icon-file-pdf"></i></td>
                      <td>Moe</td>
                      <td>20 MB</td>
                      <td><button href="#">
                        <span class="icon-trash2" aria-hidden="trbe"></span>
                      </button></td>
                    </tr>
                    <tr class="success">
                      <td><i class="icon-file-word"></i></td>
                      <td>Dooley</td>
                      <td>20 MB</td>
                      <td><button href="#">
                        <span class="icon-trash2" aria-hidden="trbe"></span>
                      </button></td>
                    </tr>
                    <tr>
                      <td><i class="icon-file-pdf"></i></td>
                      <td>Refs</td>
                      <td>20 MB</td>
                      <td><button href="#">
                        <span class="icon-trash2" aria-hidden="trbe"></span>
                      </button></td>
                    </tr>
                    <tr class="success">
                      <td><i class="icon-file-pdf"></i></td>
                      <td>Activeson</td>
                      <td>20 MB</td>
                      <td><button href="#">
                        <span class="icon-trash2" aria-hidden="trbe" ></span>
                      </button></td>
                    </tr>
                    </tbody>
                  </table>
                </div>


            </div>





            <div id="modeling" class="tab-pane fade" style="width: 70%; margin: auto; background-color: whitesmoke; border: solid, 1px, black">
              <div class="row" >


                <!------ Include the above in your HEAD tag ---------->

                <div >
                  <form method="post">
                    <div class="row">
                      <div class="col-md-4">
                      </div>
                      <div class="col-md-6">
                        <div class="profile-head">
                          <div class="profile-img">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog" alt="" style="border-radius: 50%; width: 150px; height: 150px"/>
                          </div><br>
                          <h5>
                            Bonjour Papa Massamba Diop
                          </h5>
                          <h6>
                            Bienvenu à l'ISEP de Diamniadio
                          </h6><br><br>
                          <p><i class="icon-profile-male"></i>Informations personnelles</p>
                          <h5 class="proile-rating">PRENOM(S) : <span>PAPA MASSAMBA</span></h5>
                          <h5 class="proile-rating">NOM : <span>DIOP</span></h5>
                          <h5 class="proile-rating">EMAIL : <span>massd28@gmail.com</span></h5>
                          <h5 class="proile-rating">TELEPHONE : <span>00221 774781954</span></h5>
                          <br><br>
                        </div>
                      </div>
                      <div class="col-md-2">
                      </div>
                    </div>
                    <div class="row">

                      <div class="col-md-12">
                        <div class="tab-content profile-tab" id="myTabContent">
                          <p>BIO: <i>Vous êtes curieux ou passionné par les réseaux ? Vous êtes étudiant et avez du mal à appréhender et comprendre cet univers ? Vous êtes tombé au bon endroit ! Nous vous souhaitons la bienvenue dans ce tutoriel. Entrons tout de suite dans le vif du sujet. Avez-vous déjà entendu une discussion d'administrateurs réseau ? Vous avez probablement entendu des termes compliqués, qui vous semblent insignifiants comme réseau privé virtuel, protocole, niveau applicatif, UDP, transmission de paquets... </i></p>
                        </div>
                      </div>
                    </div>

                  </form>
                </div>
              </div>






              <div class="row">
                <div class="col-md-12" style="margin: auto">
                  <h4 style="color: darkblue"><strong>Formation Académique...<i class="icon-study"></i></strong></h4>
                  <br>
                </div>



                <div class="row">
                  <div class="col-md-3">
                    <h5> 1. <i class="icon-leaf"></i></h5>
                  </div>
                  <div class="col-md-3">
                    <h5 style="color: darkblue"><strong><i class="icon-calendar2"> : </i>2000-2002</strong></h5>
                  </div>
                  <div class="col-md-6">
                    <h5><strong>Université de Thiès</strong></h5>
                    <h6 style="color: #7a7a7a"><strong>Diplôme Ingénieur de Conception</strong></h6>
                  </div>
                  <br><br>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <h5> 2. <i class="icon-leaf"></i></h5>
                  </div>
                  <div class="col-md-3">
                    <h5 style="color: darkblue"><strong><i class="icon-calendar2"> : </i>2000-2002</strong></h5>
                  </div>
                  <div class="col-md-6">
                    <h5><strong>Université de Thiès</strong></h5>
                    <h6 style="color: #7a7a7a"><strong>Diplôme Ingénieur de Conception</strong></h6>
                  </div>
                  <br><br>
                </div>

                <div class="row">
                  <div class="col-md-3">
                    <h5>3.  <i class="icon-leaf"></i></h5>
                  </div>
                  <div class="col-md-3">
                    <h5 style="color: darkblue"><strong><i class="icon-calendar2"> : </i>2000-2002</strong></h5>
                  </div>
                  <div class="col-md-6">
                    <h5><strong>Université de Thiès</strong></h5>
                    <h6 style="color: #7a7a7a"><strong>Diplôme Ingénieur de Conception</strong></h6>
                  </div>
                  <br><br>
                </div>

                <div class="row">
                  <div class="col-md-3">
                    <h5>4.  <i class="icon-leaf"></i></h5>
                  </div>
                  <div class="col-md-3">
                    <h5 style="color: darkblue"><strong><i class="icon-calendar2"> : </i>2000-2002</strong></h5>
                  </div>
                  <div class="col-md-6">
                    <h5><strong>Université de Thiès</strong></h5>
                    <h6 style="color: #7a7a7a"><strong>Diplôme Ingénieur de Conception</strong></h6>
                  </div>
                  <br><br>
                </div>

                <div class="row">
                  <div class="col-md-3">
                    <h5>5.  <i class="icon-leaf"></i></h5>
                  </div>
                  <div class="col-md-3">
                    <h5 style="color: darkblue"><strong><i class="icon-calendar2"> : </i>2000-2002</strong></h5>
                  </div>
                  <div class="col-md-6">
                    <h5><strong>Université de Thiès</strong></h5>
                    <h6 style="color: #7a7a7a"><strong>Diplôme Ingénieur de Conception</strong></h6>
                  </div>
                  <br><br>
                </div>
              </div>





              <div>
                <div class="row">
                  <h4 style="color: darkblue"><strong>Expérience Pro... <i class="icon-laptop2"></i></strong></h4>
                  <br>
                </div>

                <div class="row">
                  <div class="col-md-3">
                    <h5> 1. <i class="icon-leaf"></i></h5>
                  </div>
                  <div class="col-md-3">
                    <h5 style="color: darkblue"><strong><i class="icon-calendar2"> : </i>2000-2002</strong></h5>
                  </div>
                  <div class="col-md-6">
                    <h5><strong>Chef de Projet</strong></h5>
                    <h6 style="color: #7a7a7a"><strong>ADNCorp</strong></h6>
                  </div>
                  <br><br>
                </div>

                <div class="row">
                  <div class="col-md-3">
                    <h5> 2. <i class="icon-leaf"></i></h5>
                  </div>
                  <div class="col-md-3">
                    <h5 style="color: darkblue"><strong><i class="icon-calendar2"> : </i>2000-2002</strong></h5>
                  </div>
                  <div class="col-md-6">
                    <h5><strong>Développeur</strong></h5>
                    <h6 style="color: #7a7a7a"><strong>ISEP, Diamniadio</strong></h6>
                  </div>
                  <br><br>
                </div>

                <div class="row">
                  <div class="col-md-3">
                    <h5>3.  <i class="icon-leaf"></i></h5>
                  </div>
                  <div class="col-md-3">
                    <h5 style="color: darkblue"><strong><i class="icon-calendar2"> : </i>2000-2002</strong></h5>
                  </div>
                  <div class="col-md-6">
                    <h5><strong>Chef de Projet</strong></h5>
                    <h6 style="color: #7a7a7a"><strong>ISEP, Diamniadio</strong></h6>
                  </div>
                  <br><br>
                </div>

                <div class="row">
                  <div class="col-md-3">
                    <h5> 4. <i class="icon-leaf"></i></h5>
                  </div>
                  <div class="col-md-3">
                    <h5 style="color: darkblue"><strong><i class="icon-calendar2"> : </i>2000-2002</strong></h5>
                  </div>
                  <div class="col-md-6">
                    <h5><strong>Ingénieur de Conception</strong></h5>
                    <h6 style="color: #7a7a7a"><strong>Diplôme Ingénieur de Conception</strong></h6>
                  </div>
                  <br><br>
                </div>

                <div class="row">
                  <div class="col-md-3">
                    <h5>5.  <i class="icon-leaf"></i></h5>
                  </div>
                  <div class="col-md-3">
                    <h5 style="color: darkblue"><strong><i class="icon-calendar2"> : </i>2000-2002</strong></h5>
                  </div>
                  <div class="col-md-6">
                    <h5><strong>Université de Thiès</strong></h5>
                    <h6 style="color: #7a7a7a"><strong>Diplôme Ingénieur de Conception</strong></h6>
                  </div>
                  <br><br>
                </div>
              </div>





              <div class="row">
                <h4>Mes Pièces-Jointes</h4>

                <table class="table" style="width: 60%; margin: auto">
                  <thead>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>

                  </thead>
                  <tbody>
                  <tr>
                    <td><i class="icon-file-pdf"></i></td>
                    <td>Defaultson</td>
                    <td>20 MB</td>
                  </tr>
                  <tr class="success">
                    <td><i class="icon-file-word"></i></td>
                    <td>Doe</td>
                    <td>20 MB</td>
                  </tr>
                  <tr class="danger">
                    <td><i class="icon-file-pdf"></i></td>
                    <td>Moe</td>
                    <td>20 MB</td>
                  </tr>
                  <tr class="info">
                    <td><i class="icon-file-word"></i></td>
                    <td>Dooley</td>
                    <td>20 MB</td>
                  </tr>
                  <tr class="warning">
                    <td><i class="icon-file-pdf"></i></td>
                    <td>Refs</td>
                    <td>20 MB</td>
                  </tr>
                  <tr class="active">
                    <td><i class="icon-file-pdf"></i></td>
                    <td>Activeson</td>
                    <td>20 MB</td>
                  </tr>
                  </tbody>
                </table>
              </div>





            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>

<div class="gototop js-top">
  <a href="#" class="js-gotop"><i class="icon-arrow-up2"></i></a>
</div>

