<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


<app-header-isep></app-header-isep>
<app-header></app-header>
<section style="width: 100%">
  <div class="container">
    <div class="row" style="width: 100%">
      <div class="board">
        <!-- <h2>Welcome to IGHALO!<sup>™</sup></h2>-->


        <div class="tab-content">
          <div class="tab-pane fade in active" id="home">

            <h3 class="head text-center">Bonjour Cher(re) Papa Massamba Diop<sup>™</sup> <span style="color:#f48260;">♥</span></h3>
            <p class="narrow text-center">
            Gérez votre dossier en allant dans la rubrique Mon Dossier!
            </p>

            <p class="text-center">
              <a href="" class="btn btn-success btn-outline-rounded green"> Nous contacter :  <span style="margin-left:10px;" class="glyphicon glyphicon-send"></span></a>
            </p>
          </div>
          <div class="tab-pane fade" id="profile">
            <h3 class="head text-center">Create a Bootsnipp<sup>™</sup> Profile</h3>
            <p class="narrow text-center">
              Lorem ipsum dolor sit amet, his ea mollis fabellas principes. Quo mazim facilis tincidunt ut, utinam saperet facilisi an vim.
            </p>

            <p class="text-center">
              <a href="" class="btn btn-success btn-outline-rounded green"> create your profile <span style="margin-left:10px;" class="glyphicon glyphicon-send"></span></a>
            </p>

          </div>
          <div class="tab-pane fade" id="messages">
            <h3 class="head text-center">Bootsnipp goodies</h3>
            <p class="narrow text-center">
              Lorem ipsum dolor sit amet, his ea mollis fabellas principes. Quo mazim facilis tincidunt ut, utinam saperet facilisi an vim.
            </p>

            <p class="text-center">
              <a href="" class="btn btn-success btn-outline-rounded green"> start using bootsnipp <span style="margin-left:10px;" class="glyphicon glyphicon-send"></span></a>
            </p>
          </div>
          <div class="tab-pane fade" id="settings">
            <h3 class="head text-center">Drop comments!</h3>
            <p class="narrow text-center">
              Lorem ipsum dolor sit amet, his ea mollis fabellas principes. Quo mazim facilis tincidunt ut, utinam saperet facilisi an vim.
            </p>

            <p class="text-center">
              <a href="" class="btn btn-success btn-outline-rounded green"> start using bootsnipp <span style="margin-left:10px;" class="glyphicon glyphicon-send"></span></a>
            </p>
          </div>
          <div class="tab-pane fade" id="doner">
            <div class="text-center">
              <i class="img-intro icon-checkmark-circle"></i>
            </div>
            <h3 class="head text-center">thanks for staying tuned! <span style="color:#f48260;">♥</span> Bootstrap</h3>
            <p class="narrow text-center">
              Lorem ipsum dolor sit amet, his ea mollis fabellas principes. Quo mazim facilis tincidunt ut, utinam saperet facilisi an vim.
            </p>
          </div>
          <div class="clearfix"></div>
        </div>

      </div>
    </div>
  </div>
</section>

